---
// CREANDO PAGINAS DINAMICAS PARA CADA TAG

import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';

export async function getStaticPaths() {
    const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));
    
    /**
     * map-> array con los tags
     * flat-> aplanar array (de arrays a un array simple)
     * Set-> estructura de datos que solo permite valores unicos (elimina duplicados)
     * ... -> spread operator, para convertir el Set de nuevo en un array
     */
    const uniqueTags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];

    //genera rutas estaticas para cada tag con sus posts
    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post: any) => post.frontmatter.tags?.includes(tag));
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

//interrogante para que no se rompa si no hay tags
//const filteredPosts = posts.filter((post: any) => post.frontmatter.tags?.includes(tag));
---
<BaseLayout pageTitle={tag}>
    <p>Posts tagged with {tag}</p>
    <ul>
        {posts.map((post: any) => 
            <BlogPost url={post.url} title={post.frontmatter.title}/>)}
    </ul>
</BaseLayout>