---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>

	<!--CLIENT se utiliza para que un componente 
	se renderice en el cliente y sea interactivo
	//client:load: se carga en el cliente, despues de que la pagina ya se ha cargado
	//client:visible: se carga cuando el componente es visible en pantalla
	//client:idle: se carga cuando el navegador esta inactivo
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} -->
</BaseLayout>